@using BEYON.Domain.Model.App

<div id="content" style="overflow-y: auto; height: 100%; opacity: 1;">
    <div class="content-wrapper">
        @*<header role="heading">
        <h2>年度累计底表维护</h2>
    </header>*@
        <!-- widget div-->

        <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" role="widget">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body">
                    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%"></table>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->
    </div>

    <div id="importDataDialog"></div>
  
    
    <!--确认清空初始化工资表对话框-->
   
    <div id="confirmDialog_clearVageBase" title="确认清空当前累计计算表" style="display:none;">
        点击确认后累计计算表（即下表）记录会被清空。您确定要清空累计计算表吗？
    </div>​
   
   
</div>

<link rel="stylesheet" href="@Url.Content("~/Content/css/jAlert-v3.css")">
<script src="@Url.Content("~/Scripts/alert/jAlert-v3.min.js")"></script>
<script src="@Url.Content("~/Scripts/alert/jAlert-functions.min.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        loadTableData();

    });

     

    //加载列表
    function loadTableData() {
        $.ajax({
            type: "GET",
            url: "../BasicDataManagement/YearBaseTable/GetAllData",
            //data: params,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                initTable(data);
            },
            error: function () {
                toastr.error('获取年度累计底表数据失败！');
            }
        });
    }

    function initTable(data) {
        pageSetUp();
        //更新数据
        if ($.fn.dataTable.isDataTable('#datatable_tabletools')) {
            var oSettings = table.fnSettings();
            table.fnClearTable(this);
            for (var i = 0; i < data.rows.length; i++) {
                table.oApi._fnAddData(oSettings, data.rows[i]);
            }

            oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
            table.fnDraw();
            return;
        }

        var editor = new $.fn.dataTable.Editor({
            "ajaxUrl": {
                "create": "@Url.Action("Create")",
                "edit": "@Url.Action("Edit")",
                "remove": "@Url.Action("Delete")"
            },
            "table": "#datatable_tabletools",
            fields: [
            {
                label: "期间:",
                name: "Period"
            },
            {
                label: "姓名",
                name: "Name"
            }, {
                label: "证件类型:",
                name: "CertificateType"
            },
            {
                label: "证件号码:",
                name: "CertificateID"
            },
            {
                label: "年度累计税前收入:",
                name: "InitialEaring"
            },
            {
                label: "年度累计免税收入:",
                name: "TaxFreeIncome"
            },
            {
                label: "年度累计养老保险:",
                name: "EndowmentInsurance"
            },
             
            {
                label: "年度累计医疗保险:",
                name: "MedicalInsurance"
            },
            {
                label: "年度累计失业保险:",
                name: "UnemployedInsurance"
            },
            {
                label: "年度累计职业年金:",
                name: "OccupationalAnnuity"
            },
            {
                label: "年度累计住房公积金:",
                name: "HousingFund"
            },
            /*
            {
                label: "免税额累计:",
                name: "TaxFree"
            },
            */
            {
                label: "年度累计基本扣除:",
                name: "AmountDeducted"
            },
            {
                label: "年度累计专项附加扣除:",
                name: "SpecialDeduction"
            },
            {
                label: "年度累计减免税额:",
                name: "CutTax"
            },
            {
                label: "年度累计应纳税所得额:",
                name: "InitialTaxPayable"
            },
             {
                 label: "年度累计已扣缴税额:",
                 name: "TotalTax"
             },
            
               
                 {
                     label: "年度累计税后收入:",
                     name: "TotalTemp"
                 },
            /*
             {
                 label: "初始税额累计:",
                 name: "InitialTax"
             },
              
              {
                  label: "年度收入累计:",
                  name: "TotalIncome"
              },
              {
                  label: "年度税额累计:",
                  name: "TotalTax"
              },
             
               */
                
                {
                    label: "年度累计工资税前收入额:",
                    name: "TotalSalaryIncomeBeforeTax"
                },
                {
                    label: "年度累计劳务费税前收入额:",
                    name: "TotalLaborIncomeBeforeTax"
                },
                {
                    label: "当前已累计月:",
                    name: "LastMonths"
                }
            ]
        });


        table = $('#datatable_tabletools').dataTable({
            dom: 'Bfrtip',
            ajax: '@Url.Action("GetAllData")',
            buttons: [
                {
                    text: "新增", extend: "create", editor: editor
                },
                {
                    text: "修改", extend: "edit", editor: editor
                },
                { text: "删除", extend: "remove", editor: editor },
                {
                    extend: 'collection',
                    text: '导出',
                    buttons: [
                      //  { text: "拷贝", extend: 'copy' },
                        { text: "EXCEL表格", extend: 'excel' },
                      //  { text: "CSV表格", extend: 'csv' },
                       // { text: "PDF文档", extend: 'pdf' },
                    //    { text: "打印", extend: 'print' }
                    ]
                },
                 {
                     text: "刷新",
                     action: function (e, dt, node, config) {
                         dt.ajax.reload();
                     }
                 },
                
     {
         text: "导入",
         action: function (e, dt, node, config) {
             alert("导入的新表数据将覆盖原始表。");
             var ColumnDatas = [];
             var columns = dt.settings().init().columns;
             dt.columns().every(function (index) {
                 ColumnDatas.push({ ColumnName: columns[index].data, TitleName: columns[index].title })
             })

             $.ajax({
                 url: '../App/Import/ImportData',
                 type: 'POST',
                 data: JSON.stringify({ ActionUrl: "@Url.Action("Import")", Columns: ColumnDatas }),
             contentType: 'application/json; charset=utf8',
             cache: false,
             dataType: 'html',
             success: function (data) {
                 $('#importDataDialog').html(data);
                                

             },
             error: function (xhr) {
                 alert("出现错误，请稍后再试:" + xhr.responseText);
             }
         });
         dt.ajax.reload();
         //$('#importDataDialog').load('../App/Import/ImportData', );
         }
         },     
                
                {
                    text: "清空",
                    action: function (e, dt, node, config) {
                        clearWageBase(dt);
                        //$("#confirmDialog_clearVageBase").dialog("open");
                        //e.preventDefault();
                        //dt.ajax.reload();
                                               
                    }
                },
                
                 
            ],
            searching: true,
            ordering: true,
            select: true,
            info: true,
            paginate: true, //是否显示（应用）分页器
            sort: true, //是否启动各个字段的排序功能
            stateSave: false,
            stateDuration: 60 * 60 * 12,
            iDisplayLength: 15,
            autoWidth: true,
            bProcessing: true,
            paging: true,
            columns: [
                                    { data: "Id", title: "编号" },
                                    { data: "Period", title: "年度" },
                                    { data: "Name", title: "姓名" },
                                    { data: "CertificateType", title: "证件类型" },
                                    { data: "CertificateID", title: "证件号码" },
                                    { data: "InitialEaring", title: "年度累计税前收入" },
                                    { data: "TaxFreeIncome", title: "年度累计免税收入" },
                                    { data: "EndowmentInsurance", title: "年度累计养老保险" },
                                     { data: "MedicalInsurance", title: "年度累计医疗保险" },
                                    { data: "UnemployedInsurance", title: "年度累计失业保险" },                                  
                                    { data: "OccupationalAnnuity", title: "年度累计职业年金" },
                                    { data: "HousingFund", title: "年度累计住房公积金" },
                                    { data: "AmountDeducted", title: "年度累计基本扣除" },
                                    { data: "SpecialDeduction", title: "年度累计专项附加扣除" },
                                    { data: "CutTax", title: "年度累计减免税额" },
                                    { data: "InitialTaxPayable", title: "年度累计应纳税所得额" },
                                    { data: "TotalTax", title: "年度累计已扣缴税额" },
                                    { data: "TotalTemp", title: "年度累计税后收入" },
                                    
                                    { data: "TotalSalaryIncomeBeforeTax", title: "年度累计工资税前收入额" },
                                    { data: "TotalLaborIncomeBeforeTax", title: "年度累计劳务费税前收入额" },
                                    { data: "LastMonths", title: "当前已累计月数" }
                                   // { data: "PersonType", title: "人员类型" },
                                    //{ data: "Title", title: "职称" }
            ],
            oLanguage: {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "显示 _START_ 到 _END_ 条记录，总共 _TOTAL_ 条记录",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sZeroRecords": "没有检索到数据",
                "sSearch": "搜索名称:",
                "sSelected": "选中 _TOTAL_ 条记录",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }

            }
        });
    }



    //清空初始化工资表确认对话框       
    function clearWageBase(dt) {
        $("#confirmDialog_clearVageBase").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "确认": function () {
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: "../BasicDataManagement/YearBaseTable/DeleteAll",
                        //data: params,
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (data) {
                            dt.ajax.reload();
                            toastr.info("累计表清空成功");
                        },
                        error: function () {
                            toastr.error('累计表清空失败！');
                        }
                    });
                    $(this).dialog("close");
                },
                "取消": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#confirmDialog_clearVageBase").dialog("open");
    }
    

</script>